body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
a{
    text-decoration: none;
}
.top-bar{
    background: #f1f1f1;
    height: 38px;
}
.top-bar-btn{
    height: 38px;
    float: right;
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: bold;
}
.login{
    background-image: url(../images/ilogin.png);
    padding-left: 20px;
    background-repeat: no-repeat;
    margin-right: 20px;
}
.register{
    background-image: url(../images/ireg.png);
    padding-left: 20px;
    background-repeat: no-repeat;
}
.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
}
.menu ul{
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
}
.menu ul li{
    margin: 0 10px;
}
.banner{
    width: 100%;
}

